/* Header */
header {
    background: #222;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #ffcc00 3px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header a {
    color: #ffcc00;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

header #branding h1 {
    margin: 0;
    font-size: 24px;
}
